{% extends 'baseNonConnecte.html.twig' %}

{% block title %}
Créer un compte
{% endblock %}

{% block titre %}

{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<div class="card shadow">
  <div class="h3 card-header">
Création de compte
    </div>
<div class="card-body">
{{ form_start(form) }}
{{ form_row(form.nom, {'attr':{'placeholder':"ex: Dupont ..."}}) }}
{{ form_row(form.prenom, {'attr':{'placeholder':"ex: Pierre ..."}}) }}
{{ form_label(form.email,"Adresse mail") }}
{{ form_widget(form.email, {'attr':{'placeholder':"ex: dupont@gmail.com ..."}}) }}
{{ form_row(form.genreHomme) }}
{{ form_row(form.dateNaissance) }}
{{ form_label(form.telephone,"Numéro de téléphone") }}
{{ form_widget(form.telephone, {'attr':{'placeholder':"ex: 06 12 45 85 96 ..."}}) }}
{{ form_label(form.niveau,"Niveau de tennis") }}
{{ form_widget(form.niveau, {'attr':{'placeholder':"ex: 30/1 "}}) }}
{{ form_row(form.password) }}

<center><button type="submit" class="btn btn-primary"> S'inscrire </button></center>
{{ form_end(form) }}

</div>
<div class="col-md-4"></div>
{% endblock %}
