{{ form_start(form) }}


	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			
        <form role="form">

		<div class="form-group">
                        {{ form_label(form.tennisUtilisateurs,'Joueur 1') }}
                        {{ form_errors(form.tennisUtilisateurs) }}
                        {{ form_widget(form.tennisUtilisateurs) }}
                        
		</div>

        <div class="form-group">
                        {{ form_label(form.tennisUtilisateurs,'Joueur 2') }}
                        {{ form_errors(form.tennisUtilisateurs) }}
                        {{ form_widget(form.tennisUtilisateurs) }}
		</div>

                        <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
			</form>    
      <br/>
     
		</div>
    <div class="col-md-4">
	</div>

	</div>

{{ form_end(form) }}

                



