{% extends 'base.html.twig' %}

{% block title %}Liste des matchs{% endblock %}
{% block titre %}<h1><center>Liste des matchs</center></h1>{% endblock %}
{% block body %}
<div class="table-responsive">
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr class="table-primary">
                <th>Joueur 1</th>
                <th>Joueur 2</th>
                <th>Resultat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
				{% set id = 1 %}
        {% for tennis_match in tennis_matches %}
						{% set joueurElimine = false %}
            <tr>
								{% set joueurs = tennis_match.tennisUtilisateurs %}
								{% if joueurs|length > 0 %}
								{% for joueur in joueurs %}
									{% if joueur in tennis_tour.tennisTournoi.tennisUtilisateursParticipant %}
                	<td>{{joueur.nomComplet}}</td>
									{% else %}
										<td>{{joueur.nomComplet}} (éliminé)</td>
										{% set joueurElimine = true %}
									{% endif %}
								{% endfor %}
								{% else %}
									<td>Pas d'entité utilisateur</td>
                	<td>Pas d'entité utilisateur</td>
								{% endif %}

                {% if tennis_match.etat == "Terminé" %}
                <td>
                {% for tennis_set in tennis_sets %}
                    {% if tennis_set.tennisMatch.id == tennis_match.id %}
                        {{tennis_set.nbJeuxDuGagnant}}/{{tennis_set.nbJeuxDuPerdant}}
                    {% endif %}
                {% endfor %}
                </td>
                {% else %}
                <td>{{ tennis_match.etat }}</td>
                {% endif %}
				<td>
					<a id="{{ id }}" href="{{ path('tennis_match_show', {'id': tennis_match.id}) }}" title="Voir les détails du match"><i class="far fa-eye"></i></a>
					<a id="{{ id + 1 }}" href="{{path('tennis_match_notifier_joueurs', {'id' : tennis_match.id})}}" title="Notifier les joueurs"><i class="far fa-envelope"></i></a>
					<a id="{{ id + 2 }}" href="{{path('tennis_match_edit', {'id' : tennis_match.id})}}" title="Modifier les joueurs"><i class="fas fa-pencil-alt"></i></a>
					{% if tennis_match.etat != "Terminé" %}
					<a id="{{ id + 3 }}" href="{{ path('tennis_match_saisir_resultat', {'id': tennis_match.id}) }}" title="Saisir les résultats"><i class="far fa-clipboard"></i></a>
					{% else %}
					<a id="{{ id + 3 }}" href="{{path('tennis_match_modifier_resultat', {'id' : tennis_match.id})}}" title="Modifier les résultats"><i class="far fa-clipboard"></i></a>
					{% endif %}
					<a id="{{ id + 4 }}" href="{{ path('tennis_match_eliminer_perdant', {'id': tennis_match.id}) }}" title="Eliminer un joueur"><i class="far fa-times-circle"></i></a>
					<a id="{{ id + 5 }}" href="{{ path('tennis_match_supprimer', {'id': tennis_match.id}) }}" title="Supprimer le match"><i class="fas fa-trash-alt"></i></a>
				</td>
				<script>
				{% if app.user not in tennis_tour.tennisTournoi.tennisUtilisateursParticipant and tennis_tour.tennisTournoi.tennisUtilisateur != app.user %}
					document.getElementById("{{ id + 1 }}").style.pointerEvents = "none";
					document.getElementById("{{ id + 1 }}").style.color = "grey";
					document.getElementById("{{ id + 2 }}").style.pointerEvents = "none";
					document.getElementById("{{ id + 2 }}").style.color = "grey";
					document.getElementById("{{ id + 3 }}").style.pointerEvents = "none";
					document.getElementById("{{ id + 3 }}").style.color = "grey";
					document.getElementById("{{ id + 4 }}").style.pointerEvents = "none";
					document.getElementById("{{ id + 4 }}").style.color = "grey";
					document.getElementById("{{ id + 5 }}").style.pointerEvents = "none";
					document.getElementById("{{ id + 5 }}").style.color = "grey";
				{% else %}
					{% if tennis_tour.tennisTournoi.tennisUtilisateur != app.user %} <!-- pas createur mais dans la liste des participants -->
						document.getElementById("{{ id + 1 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 1 }}").style.color = "grey";
						document.getElementById("{{ id + 2 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 2 }}").style.color = "grey";
						document.getElementById("{{ id + 4 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 4 }}").style.color = "grey";
					{% if app.user not in tennis_match.tennisUtilisateurs %} <!-- ne fait pas partie du match mais dans la liste des participants -->
						document.getElementById("{{ id + 3 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 3 }}").style.color = "grey";
					{% endif %}
						document.getElementById("{{ id + 5 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 5 }}").style.color = "grey";
					{% else %} <!-- est le createur du tournoi -->
						{% if tennis_match.etat != "Terminé" %}
						document.getElementById("{{ id + 4 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 4 }}").style.color = "grey";
						{% else %}
						document.getElementById("{{ id + 1 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 1 }}").style.color = "grey";
						document.getElementById("{{ id + 2 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 2 }}").style.color = "grey";
						{% endif %}
						{% if joueurElimine %}
						document.getElementById("{{ id + 4 }}").style.pointerEvents = "none";
						document.getElementById("{{ id + 4 }}").style.color = "grey";
						{% endif %}
					{% endif %}
				{% endif %}
				</script>
				{% set id = id + 6 %}
        {% else %}
            <tr>
                <td colspan="3">Aucun match crée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% if tennis_tour.statut != "Terminé" and tennis_tour.tennisTournoi.tennisUtilisateur == app.user %}
<div class="row">
<div class="col-md-12">
<center><input type="button" class="btn btn-primary" onclick="window.location.href = '{{path('tennis_match_new', {'id' : tennis_tour.id})}}' " value="Creer un nouveau match"></center>
</div>
</div>
{% else %}
<div class="row">
<div class="col-md-12">
<center><input type="button" class="btn btn-primary" disabled value="Creer un nouveau match"></center>
</div>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function() {
		$('#myTable').DataTable({
			info: false,

		"language": {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
			"order" : [[1 ,"asc"]]
		});
	});
	</script>
{% endblock %}
