{% extends 'base.html.twig' %}

{% block title %}Liste des matchs{% endblock %}
{% block titre %}<h1><center>Liste des matchs</center></h1>{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% endblock %}
{% block body %}
<div class="card shadow mb-4">
<div class="card-body">
<div class="table-responsive">
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
                <th>Resultat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set num = 1 %}
        {% for tennis_match in tennis_matches %}
            <tr>
                <td>{{ num }}</td>
                {% set num = num + 1 %}
                <td>Pas d'entité utilisateur</td>
                <td>Pas d'entité utilisateur</td>
                {% if tennis_match.etat == "Terminé" %}
                <td>
                {% for tennis_set in tennis_sets %}
                    {% if tennis_set.tennisMatch.id == tennis_match.id %}
                        {{tennis_set.nbJeuxDuGagnant}}/{{tennis_set.nbJeuxDuPerdant}}
                    {% endif %}
                {% endfor %}
                </td>
                {% else %}
                <td>{{ tennis_match.etat }}</td>
                {% endif %}
				{% if tennis_tour.statut=="Organisation" %}
				<td>
                    <a href="{{ path('tennis_match_show', {'id': tennis_match.id}) }}">Voir</a>
                    -
                    <a href="{{ path('tennis_match_supprimer', {'id': tennis_match.id}) }}">Supprimer</a>

                </td>
				{% elseif tennis_tour.statut=="Commencé" %}
					{% if tennis_match.etat != "Pas encore joué" %}
					<td>
						<a href="{{ path('tennis_match_show', {'id': tennis_match.id}) }}">Voir</a>
						-
						<a href="{{path('tennis_match_modifier_resultat', {'id' : tennis_match.id})}}">Modifier le resultat</a>
						-
						<a href="">Eliminer le perdant</a>
					</td>
					{% else %}
					<td>
						<a href="{{ path('tennis_match_show', {'id': tennis_match.id}) }}">Voir</a>
						-
						<a href="">Notifier les joueurs</a>
						-
						<a href="{{ path('tennis_match_saisir_resultat', {'id': tennis_match.id}) }}">Saisir les resultats</a>
						-
						<a href="{{ path('tennis_match_supprimer', {'id': tennis_match.id}) }}">Supprimer</a>
					</td>
					{% endif %}
				{% else %}
				<td>
					<a href="{{ path('tennis_match_show', {'id': tennis_match.id}) }}">Voir</a>
				</td>
				{% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun match crée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% if tennis_tour.statut != "Terminé" %}
<div class="row">
<div class="col-md-12">
<center><input type="button" class="btn btn-primary" onclick="window.location.href = '../new' " value="Creer un nouveau match"></center>
</div>
</div>
{% else %}
<div class="row">
<div class="col-md-12">
<center><input type="button" class="btn btn-primary" disabled value="Creer un nouveau match"></center>
</div>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function() {
		$('#myTable').DataTable({
		"language": {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"}
		});
	});
	</script>
{% endblock %}
