{% extends 'base.html.twig' %}
{% block title %}
Modifier résultat
{% endblock %}
{% block titre %}
<center><h1> Modifier résultat du match </h1></center>
{% endblock %}
{% block body %}
<center><h3> - </h3></center>
<center><h3> Laissez les cases en trop vides </h3></center>
<div class="p-5">
{{ form_start(form) }}
<div class="row">
  <div class="col-md-6">
  <h5> Jeux du joueur 1 </h5>
  {{ form_label(form.jeuG1," ") }}
  {{ form_errors(form.jeuG1) }}
  {{ form_widget(form.jeuG1, { 'attr': {'value': tennis_match.tennisSets[0].nbJeuxDuGagnant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuG2," ") }}
  {{ form_errors(form.jeuG2) }}
  {{ form_widget(form.jeuG2, { 'attr': {'value': tennis_match.tennisSets[1].nbJeuxDuGagnant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuG3," ") }}
  {{ form_errors(form.jeuG3) }}
  {{ form_widget(form.jeuG3, { 'attr': {'value': tennis_match.tennisSets[2].nbJeuxDuGagnant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuG4," ") }}
  {{ form_errors(form.jeuG4) }}
  {{ form_widget(form.jeuG4, { 'attr': {'value': tennis_match.tennisSets[3].nbJeuxDuGagnant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuG5," ") }}
  {{ form_errors(form.jeuG5) }}
  {{ form_widget(form.jeuG5, { 'attr': {'value': tennis_match.tennisSets[4].nbJeuxDuGagnant, min : "0", max : "7"} }) }}
  </div>
  <div class="col-md-6">
  <h5> Jeux du joueur 2 </h5>
  {{ form_label(form.jeuD1," ") }}
  {{ form_errors(form.jeuD1) }}
  {{ form_widget(form.jeuD1, { 'attr': {'value': tennis_match.tennisSets[0].nbJeuxDuPerdant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuD2," ") }}
  {{ form_errors(form.jeuD2) }}
  {{ form_widget(form.jeuD2, { 'attr': {'value': tennis_match.tennisSets[1].nbJeuxDuPerdant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuD3," ") }}
  {{ form_errors(form.jeuD3) }}
  {{ form_widget(form.jeuD3, { 'attr': {'value': tennis_match.tennisSets[2].nbJeuxDuPerdant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuD4," ") }}
  {{ form_errors(form.jeuD4) }}
  {{ form_widget(form.jeuD4, { 'attr': {'value': tennis_match.tennisSets[3].nbJeuxDuPerdant, min : "0", max : "7"} }) }}
  {{ form_label(form.jeuD5," ") }}
  {{ form_errors(form.jeuD5) }}
  {{ form_widget(form.jeuD5, { 'attr': {'value': tennis_match.tennisSets[4].nbJeuxDuPerdant, min : "0", max : "7"} }) }}
  </div>
</div>
<div class="pt-2">
<center><button class="btn btn-primary">Valider</button></center>
{{ form_end(form) }}
{% endblock %}
