{% extends 'base.html.twig' %}

{% block title %}Détails match {{tennis_match.id}} {% endblock %}
{% block titre %} <center><h1>Détails du match {{ tennis_match.id }}</h1></center>{% endblock %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">

<center>
<div class="card">
  <div class="card-body">
	{% set joueurs = tennis_match.tennisUtilisateurs %}
	{% if joueurs|length > 0 %}
	<h3 class="card-text">
		<u>{{joueurs[0].nomComplet}} <b>VS</b> {{joueurs[1].nomComplet}}</u>
	</td>
	{% else %}
		<h3 class="card-text">Entité utilisateur non crée <b>VS</b> Entité utilisateur non crée </h3>
	{% endif %}
    <p class="card-text">Résultat :
	{% if tennis_match.etat == "Terminé" %}
		{% for tennis_set in tennis_match.tennisSets %}
			{{tennis_set.nbJeuxDuGagnant}}/{{tennis_set.nbJeuxDuPerdant}}
		{% endfor %}
	{% else %}
		{{ tennis_match.etat }} </p>
	{% endif %}
	</p>
	<p class="card-text">Vainqueur :
	{% if tennis_match.etat == "Terminé" %}
	{% set nbSetsJ1 = 0 %}
	{% set nbSetsJ2 = 0 %}
	{% for tennis_set in tennis_match.tennisSets %}
		{% if tennis_set.nbJeuxDuGagnant > tennis_set.nbJeuxDuPerdant %}
			{% set nbSetsJ1 = nbSetsJ1 + 1 %}
		{% elseif tennis_set.nbJeuxDuGagnant < tennis_set.nbJeuxDuPerdant %}
			{% set nbSetsJ2 = nbSetsJ2 + 1 %}
		{% endif %}
	{% endfor %}
	{% if nbSetsJ1 > nbSetsJ2 %}
		{{ joueurs[0] }}
	{% elseif nbSetsJ1 < nbSetsJ2 %}
		{{ joueurs[1] }}
	{% endif %}
	{% else %}
		{{ tennis_match.etat }}
	{% endif %}
	</p>
  </div>
</div>
</center>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>


{% endblock %}
