{% extends 'base.html.twig' %}

{% block title %}Détails match {{tennis_match.id}} {% endblock %}
{% block titre %} <center><h1>Détails du match {{ tennis_match.id }}</h1></center>{% endblock %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
         
<center>
<div class="card">
  <div class="card-body">
    <h3 class="card-text">Entité utilisateur non crée <b>VS</b> Entité utilisateur non crée </h3>
    <p class="card-text">Vainqueur : </p>
    <p class="card-text">Résultat : </p>
	{% if tennis_match.etat == "Terminé" %}
		{% for tennis_set in tennis_match.tennisSets %}
			{{tennis_set.nbJeuxDuGagnant}}/{{tennis_set.nbJeuxDuPerdant}}
		{% endfor %}
	{% else %}
		{{ tennis_match.etat }}
	{% endif %}
  </div>
</div>
</center>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>


{% endblock %}
