{% extends 'base.html.twig' %}

{% block title %}Détails tournoi {{ tennis_tournoi.nom }} {% endblock %}
{% block titre %}<center><h1>Détails tournoi {{ tennis_tournoi.nom }}</h1></center> {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<table class="table">
        <tbody>

            <tr>
                <th>Adresse</th>
                <td>{{ tennis_tournoi.adresse }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ tennis_tournoi.statut }}</td>
            </tr>
            <tr>
                <th>Catégorie d'âge</th>
                <td>{{ tennis_tournoi.categorieAge }}</td>
            </tr>
            <tr>
                <th>Date début de tournoi</th>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d-m-Y') : '' }}</td>
            </tr>
                <tr>
                <th>Date fin de tournoi</th>
                <td>{{ tennis_tournoi.dateFinTournoi ? tennis_tournoi.dateFinTournoi|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Type de surface des terrains</th>
                <td>{{ tennis_tournoi.surface }}</td>
            </tr>
             <tr>
                <th>Visibilité</th>
                <td>{{ tennis_tournoi.estVisible ? 'Public' : 'Privé' }}</td>
            </tr>
			      <tr>
                <th>Mot de passe</th>
                <td>{{ tennis_tournoi.motDePasse != null ? "Oui" : "Non" }}</td>
            </tr>
          </table>
			<center>
			{% set profilValide = "true" %}
			{% if app.user.dateNaissance == null %}
				{% set profilValide = "date de naissance non renseignée (vous pouvez le définir sur votre profil)" %}
			{% endif %}
			{% if date().settime(0,0).diff(app.user.dateNaissance).days / 365 < tennis_tournoi.categorieAge|split('/')[0] or date().settime(0,0).diff(app.user.dateNaissance).days / 365 > tennis_tournoi.categorieAge|split('/')[1] %}
				{% set profilValide = "le tournoi est déstiné aux " ~ tennis_tournoi.categorieAge ~ " ans" %}
			{% endif %}
			{% if app.user.genreHomme != tennis_tournoi.genreHomme %}
				{% set profilValide = "le tournoi est déstiné aux " ~ (tennis_tournoi.genreHomme ? "Hommes" : "Femmes")  %}
			{% endif %}
			{% if app.user.genreHomme == null %}
				{% set profilValide = "genre non défini (vous pouvez le définir sur votre profil)"  %}
			{% endif %}
			{% if tennis_tournoi.statut != "Phase d'incriptions" or tennis_tournoi.statut == null %}
				{% set profilValide = "le tournoi n'est pas en phase d'inscriptions" %}
			{% endif %}
			{% if tennis_tournoi.inscriptionsManuelles %}
				{% set profilValide = "l'organisateur souhaite inscrire les joueurs lui même" %}
			{% endif %}
			{% if tennis_tournoi.tennisUtilisateursParticipant|length >= tennis_tournoi.nbPlaces %}
				{% set profilValide = "il n'y a plus de places disponibles pour ce tournoi" %}
			{% endif %}
			{% if profilValide == "true" %}
				{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
				{{ form_label(form.mdp,"Mot de passe (laisser vide si il n'y en a pas)") }}
				{{ form_errors(form.mdp) }}
				{{ form_widget(form.mdp) }}
				<div class="pt-1">
				<button class="btn btn-primary">Valider</button>
				{{ form_end(form) }}
			{% else %}
				<h5> Vous ne pouvez pas vous inscrire à ce tournoi : {{ profilValide }}</h5>
			{% endif %}
			</center>
		</div>
		<div class="col-md-4">
</div>
</div>
</div>
{% endblock %}
