{% extends 'base.html.twig' %}

{% block title %}Détails tournoi {{ tennis_tournoi.nom }} {% endblock %}
{% block titre %}<center><h1>Détails tournoi {{ tennis_tournoi.nom }}</h1></center> {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<table class="table">
        <tbody>

            <tr>
                <th>Adresse</th>
                <td>{{ tennis_tournoi.adresse }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ tennis_tournoi.genreHomme ? 'Homme' : 'Femme' }}</td>
            </tr>
            <tr>
                <th>Catégorie d'âge</th>
                <td>{{ tennis_tournoi.categorieAge }}</td>
            </tr>
            <tr>
                <th>Date début de tournoi</th>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d-m-Y') : '' }}</td>
            </tr>
                <tr>
                <th>Date fin de tournoi</th>
                <td>{{ tennis_tournoi.dateFinTournoi ? tennis_tournoi.dateFinTournoi|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Type de surface des terrains</th>
                <td>{{ tennis_tournoi.surface }}</td>
            </tr>
          </table>
			<center>
		
				{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
				{% if tennis_tournoi.motDePasse != null %}
					{{ form_label(form.mdp,"Mot de passe (laisser vide si il n'y en a pas)") }}
					{{ form_errors(form.mdp) }}
					{{ form_widget(form.mdp) }}
				{% else %}
					{{form_widget(form.mdp, {attr: {hidden: 'hidden'}})}}
				{% endif %}
					<div class="pt-1">
					<button class="btn btn-primary">S'inscrire</button>
				{{ form_end(form) }}
			</center>
		</div>
		<div class="col-md-4">
</div>
</div>
</div>
{% endblock %}
