{% extends 'base.html.twig' %}

{% block title %}Rechercher un tournoi{% endblock %}

{% block titre %}<h1><center>Liste des tournois</center></h1>{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/tournois">Tournois crées</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tournois/inscrits">Tournois inscrits</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" href="/tournois/rechercher">S'inscrire à un tournoi</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" href="/tournois/all">Tous les tournois</a>
  </li>
</ul>
<div class="card shadow mb-4">
            <div class="card-body">
<div class="table-responsive">
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Catégorie d'âge</th>
                <th>Genre</th>
                <th>Date de début</th>
                <th>Mot de passe</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
				{% set listeTournois = [] %}
        {% for tennis_tournoi in tennis_tournois %}
					{% if
					tennis_tournoi.estVisible and
					tennis_tournoi.tennisUtilisateur != app.user and
					app.user not in tennis_tournoi.tennisUtilisateursParticipant and
					app.user not in tennis_tournoi.tennisUtilisateursDemandeInscription and
					tennis_tournoi.statut == "Phase d'inscriptions" and
					date().settime(0,0).diff(app.user.dateNaissance).days / 365 < tennis_tournoi.categorieAge|split('/')[0] or
					date().settime(0,0).diff(app.user.dateNaissance).days / 365 > tennis_tournoi.categorieAge|split('/')[1] and
					tennis_tournoi.inscriptionsManuelles == false and
					tennis_tournoi.tennisUtilisateursParticipant|length >= tennis_tournoi.nbPlaces
					%}
						{% set listeTournois = listeTournois|merge([tennis_tournoi]) %}
					{% endif %}
				{% endfor %}
				{% for tennis_tournoi in listeTournois %}
            <tr>
                <td>{{ tennis_tournoi.nom }} {{ app.request.pathinfo }}</td>
                <td>{{ tennis_tournoi.adresse }}</td>
                <td>{{ tennis_tournoi.categorieAge }}</td>
                <td>{{ tennis_tournoi.genreHomme == 1 ? "Homme" : "Femme" }}</td>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d-m-Y') : '' }}</td>
                <th>{{ tennis_tournoi.motDePasse != null ? "Oui" : "Non" }}</th>
                <td>{{ tennis_tournoi.statut }}</td>
                <td><a href="{{ path('tennis_tournoi_afficher_tournoi_recherche', {'id': tennis_tournoi.id}) }}"><i class="far fa-eye"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucun tournoi ne correspond à votre profil : modifiez le <a href="/tennis/utilisateur/profil/{{ app.user.id }}"> ici </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function() {
		$('#myTable').DataTable({
		"language": {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
		columnDefs: [
					{"sType": "date-eu", targets: 1},
					{"sType": "date-eu", targets: 2}
		        ],
			"order" : [[1 ,"asc"]]
		});
	});
	</script>
{% endblock %}
