{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block titre %}<h1><center>Liste des tournois</center></h1>{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	
{% endblock %}
{% block body %}
<div class="card shadow mb-4">
            <div class="card-body">
<div class="table-responsive">
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de debut du tournoi</th>
                <th>Date de fin du tournoi</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tennis_tournoi in tennis_tournois %}
            <tr>
                <td>{{ tennis_tournoi.nom }}</td>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d/m/Y') : '' }}</td>
                <td>{{ tennis_tournoi.dateFinTournoi ? tennis_tournoi.dateFinTournoi|date('d/m/Y') : '' }}</td>
                <td>{{ tennis_tournoi.statut }}</td>
                {% if tennis_tournoi.statut == "Commencé" %}
                <td>
                    <a href="{{ path('tennis_tournoi_show', {'id': tennis_tournoi.id}) }}">Voir</a>
					-
					<a href="">Liste des inscrits</a>
					-
					<a href="/tours/tours-tournoi/{{ tennis_tournoi.id }}">Voir l'avancement</a>
					-
                    <a href="{{ path('tennis_tournoi_edit', {'id': tennis_tournoi.id}) }}">Modifier</a>
                </td>
                {% elseif tennis_tournoi.statut == "Terminé" %}
                <td>
                    <a href="{{ path('tennis_tournoi_show', {'id': tennis_tournoi.id}) }}">Voir</a>
					-
					<a href="">Liste des inscrits</a>
					-
					<a href="/tours/tours-tournoi/{{ tennis_tournoi.id }}">Voir l'avancement</a>
					-
					{{ include('tennis_tournoi/_delete_form.html.twig') }}
                </td>
                {% else %}
                <td>
                    <a href="{{ path('tennis_tournoi_show', {'id': tennis_tournoi.id}) }}">Voir</a>
					-
					<a href="">Liste des inscrits</a>
					-
					<a href="/tours/tours-tournoi/{{ tennis_tournoi.id }}">Voir l'avancement</a>
					-
                    <a href="{{ path('tennis_tournoi_edit', {'id': tennis_tournoi.id}) }}">Modifier</a>
					- 
					{{ include('tennis_tournoi/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucun match crée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
	<div class="row">
		<div class="col-md-12">
	<center><input type="button" class="btn btn-primary" onclick="window.location.href = 'new';" value="Creer un nouveau tournoi">
    <input type="button" onclick="" value="Rechercher un tournoi" class="btn btn-primary"></center>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function() {
		$('#myTable').DataTable({
		"oLanguage": {
			"sUrl": "http://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
		}, 
		columnDefs: [ 
					{"sType": "date-eu", targets: 1},
					{"sType": "date-eu", targets: 2}
		        ]
		});
	});
	</script>
{% endblock %}
