{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block titre %}<h1><center>Liste des tournois crées</center></h1>{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
	  <li class="nav-item ">
	    <a class="nav-link active" href="/tournois">Mes tournois (organisateur)</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/tournois/inscrits">Mes tournois (joueur)</a>
	  </li>
		<li class="nav-item">
	    <a class="nav-link" href="/tournois/rechercher">S'inscrire à un tournoi</a>
 		</li>
		<li class="nav-item">
	   <a class="nav-link" href="/tournois/all">Tous les tournois</a>
	 </li>
</ul>
<div class="card shadow mb-4">
<div class="card-body">
<div class="table-responsive">
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début du tournoi</th>
                <th>Date de fin du tournoi</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
				{% set id = 1 %}
        {% for tennis_tournoi in tennis_tournois %}
            <tr>
                <td>{{ tennis_tournoi.nom }}</td>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d-m-Y') : '' }}</td>
                <td>{{ tennis_tournoi.dateFinTournoi ? tennis_tournoi.dateFinTournoi|date('d-m-Y') : '' }}</td>
                <td>{{ tennis_tournoi.statut }}</td>
                <td>
                    <a id="{{ id }}" href="{{ path('tennis_tournoi_show', {'id': tennis_tournoi.id}) }}" disabled><i class="far fa-eye" title="Voir"></i></a>
										<a id="{{ id + 1 }}" href="/tournois/liste-inscrits/{{ tennis_tournoi.id }}"><i class="fas fa-users" title="Liste des inscrits"></i></a>
										<a id="{{ id + 2 }}" href="/tours/tours-tournoi/{{ tennis_tournoi.id }}"><i class="fas fa-list-ol" title="Voir l'avancement"></i></a>
                    <a id="{{ id + 3 }}" href="{{ path('tennis_tournoi_edit', {'id': tennis_tournoi.id}) }}"><i class="fas fa-pencil-alt" title="Modifier"></i></a>
										<a id="{{ id + 4 }}" href="/tournois/supprimer/{{ tennis_tournoi.id }}"><i class="fas fa-trash-alt" title="Supprimer"></i></a>
                </td>
								<script>
								{% if tennis_tournoi.statut == "Commencé" %}
									document.getElementById("{{ id + 4 }}").style.pointerEvents = "none";
									document.getElementById("{{ id + 4 }}").style.color = "grey";
								{% endif %}
                {% if tennis_tournoi.statut == "Terminé" %}
									document.getElementById("{{ id + 3 }}").style.pointerEvents = "none";
									document.getElementById("{{ id + 3 }}").style.color = "grey";
								{% endif %}
								</script>
            </tr>
						{% set id = id + 5 %}
        {% else %}
            <tr>
                <td colspan="19">Aucun tournoi crée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
	<div class="row">
		<div class="col-md-12">
			<center><input type="button" class="btn btn-primary" onclick="window.location.href = 'new';" value="Creer un nouveau tournoi"></center>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function() {
		$('#myTable').DataTable({
		"language": {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
		columnDefs: [
					{"sType": "date-eu", targets: 1},
					{"sType": "date-eu", targets: 2}
		        ],
			"order" : [[1 ,"asc"]]
		});
	});
	</script>
{% endblock %}
