{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block titre %}<h1><center>Liste des tournois inscrits</center></h1>{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/tournois">Tournois crées</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tournois/inscrits">Tournois inscrits</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" href="/tournois/rechercher">S'inscrire à un tournoi</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" href="/tournois/all">Tous les tournois</a>
  </li>
</ul>
<div class="card shadow mb-4">
            <div class="card-body">
<div class="table-responsive">
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début du tournoi</th>
                <th>Date de fin du tournoi</th>
                <th>Statut du tournoi</th>
                <th>Statut de la demande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>{% set listeTournois = [] %}
        {% for tennis_tournoi in tennis_tournois %}
          {% if app.user in tennis_tournoi.tennisUtilisateursParticipant or app.user in tennis_tournoi.tennisUtilisateursDemandeInscription %}
						{% set listeTournois = listeTournois|merge([tennis_tournoi]) %}
					{% endif %}
				{% endfor %}
				{% for tennis_tournoi in listeTournois %}
            <tr>
                <td>{{ tennis_tournoi.nom }}</td>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d-m-Y') : '' }}</td>
                <td>{{ tennis_tournoi.dateFinTournoi ? tennis_tournoi.dateFinTournoi|date('d-m-Y') : '' }}</td>
                <td>{{ tennis_tournoi.statut }}</td>
                {% if app.user in tennis_tournoi.tennisUtilisateursParticipant %}
                  <td> Participant </td>
                {% elseif app.user in tennis_tournoi.tennisUtilisateursDemandeInscription %}
                  <td> Demande en attente </td>
                {% endif %}
                <td>
                    <a href="{{ path('tennis_tournoi_show', {'id': tennis_tournoi.id}) }}"><i class="far fa-eye" title="Voir"></i></a>
					          -
					          <a href="/tournois/liste-inscrits/{{ tennis_tournoi.id }}"><i class="fas fa-users" title="Liste des inscrits"></i></a>
					          -
					          <a href="/tours/tours-tournoi/{{ tennis_tournoi.id }}"><i class="fas fa-list-ol" title="Voir l'avancement"></i></a>
                    -
                    <a href="/tournois/desinscription/{{ tennis_tournoi.id }}/{{ app.user.id }}"><i class="far fa-times-circle" title="Se désinscire"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Vous êtes inscrit à aucun tournoi, inscrivez vous à des tournois <a href="/tournois/rechercher"> ici </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function() {
		$('#myTable').DataTable({
		"language": {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
		columnDefs: [
					{"sType": "date-eu", targets: 1},
					{"sType": "date-eu", targets: 2}
		        ],
			"order" : [[1 ,"asc"]]
		});
	});
	</script>
{% endblock %}
