{% extends 'base.html.twig' %}

{% block title %}Détails tournoi {{ tennis_tournoi.nom }} {% endblock %}
{% block titre %}<center><h1>Détails tournoi {{ tennis_tournoi.nom }}</h1></center> {% endblock %}
{% block body %}
<ul class="nav nav-tabs">
	  <li class="nav-item ">
	    <a class="nav-link" href="/tournois">Les tournois que vous organisez</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/tournois/inscrits">Les tournois auxquels vous participez</a>
	  </li>
		<li class="nav-item">
	    <a class="nav-link" href="/tournois/rechercher">S'inscrire à un tournoi</a>
 		</li>
		<li class="nav-item">
	    <a class="nav-link" href="/tournois/all">Tous les tournois</a>
	  </li>
	</ul>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
        <h2>Tournoi</h2>
			<table class="table">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ tennis_tournoi.description }}</td>
            </tr>
            <tr>
                <th>État du tournoi</th>
                <td>{{ tennis_tournoi.statut }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ tennis_tournoi.adresse }}</td>
            </tr>
            <tr>
                <th>Date début de tournoi</th>
                <td>{{ tennis_tournoi.dateDebutTournoi ? tennis_tournoi.dateDebutTournoi|date('d-m-Y') : '' }}</td>
            </tr>
                <tr>
                <th>Date fin de tournoi</th>
                <td>{{ tennis_tournoi.dateFinTournoi ? tennis_tournoi.dateFinTournoi|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Type de surface des terrains</th>
                <td>{{ tennis_tournoi.surface }}</td>
            </tr>
             <tr>
                <th>Nombre de sets gagnants</th>
                <td>{{ tennis_tournoi.nbSetsGagnants }}</td>
            </tr>
        </table>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
        <table class="table">
        <tbody>
             <h2>Inscriptions</h2>
			<tr>
                <th>Visibilité</th>
                <td>{{ tennis_tournoi.estVisible ? 'Public' : 'Privé' }}</td>
            </tr>
            <tr>
                <th>Catégorie d'âge</th>
                <td>{{ tennis_tournoi.categorieAge }}</td>
            </tr>
             <tr>
                <th>Genre tournoi</th>
                <td>{{ tennis_tournoi.genreHomme ? 'Tournoi hommes' : 'Tournoi femmes' }}</td>
            </tr>
            <tr>
                <th>Date début des inscriptions</th>
                <td>{{ tennis_tournoi.dateDebutInscriptions ? tennis_tournoi.dateDebutInscriptions|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin des inscriptions</th>
                <td>{{ tennis_tournoi.dateFinInscriptions ? tennis_tournoi.dateFinInscriptions|date('d-m-Y') : '' }}</td>
            </tr>
              <tr>
                <th>Nombre de places disponibles</th>
                <td>{{ tennis_tournoi.nbPlaces }}</td>
            </tr>
            <tr>
                <th>Inscrire des joueurs manuellement</th>
                <td>{{ tennis_tournoi.inscriptionsManuelles ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Validation des inscriptions</th>
                <td>{{ tennis_tournoi.validationInscriptions ? 'Oui' : 'Non' }}</td>
            </tr>
        </table>
		</div>
		<div class="col-md-1">
        </div>
</div>
</div>
{% endblock %}
