{% extends 'base.html.twig' %}

{% block title %}Profil de {{tennis_utilisateur.nom}} {{tennis_utilisateur.prenom}}{% endblock %}
{% block titre %} <h1>Profil de {{tennis_utilisateur.nom}} {{tennis_utilisateur.prenom}}</h1> {% endblock %}
{% block body %}


    <table class="table table-striped">
        <tbody>
            <tr >
                <th>Nom</th>
                <td>{{ tennis_utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ tennis_utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ tennis_utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                {% if tennis_utilisateur.genreHomme == true %}
                <td>Homme</td>
                {% else %}
                <td>Femme</td>
                {% endif %}
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ tennis_utilisateur.dateNaissance ? tennis_utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            {% if tennis_utilisateur == app.user %}
            <tr>
                <th>Telephone</th>
                <td>{{ tennis_utilisateur.telephone }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Niveau</th>
                <td>{{ tennis_utilisateur.niveau }}</td>
            </tr>
        </tbody>
    </table>
    {% if tennis_utilisateur == app.user %}
      <a href="{{ path('tennis_utilisateur_edit', {'id': tennis_utilisateur.id}) }}" class="btn btn-primary">Modifier</a>
      <a href="{{ path('tennis_utilisateur_changer_mdp', {'id': tennis_utilisateur.id}) }}" class="btn btn-primary">Changer le mot de passe</a>
    {% endif %}
    <br />

{% endblock %}
