{% extends 'base.html.twig' %}

{% block title %}TennisUtilisateur{% endblock %}

{% block body %}
    <center><h1>Profil de {{tennis_utilisateur.nom}} {{tennis_utilisateur.prenom}} </h1></center>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ tennis_utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ tennis_utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ tennis_utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                {% if tennis_utilisateur.genreHomme == true %}
                <td>Homme</td>
                {% else %}
                <td>Femme</td>
                {% endif %}
            </tr>
            <tr>
                <th>Password</th>
                <td>**********</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ tennis_utilisateur.dateNaissance ? tennis_utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ tennis_utilisateur.telephone }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ tennis_utilisateur.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tennis_tournoi_index') }}" class="btn btn-primary">Retour à l'accueil</a>

    <a href="{{ path('tennis_utilisateur_edit', {'id': tennis_utilisateur.id}) }}" class="btn btn-primary">Modifier</a>
    <br />
    
{% endblock %}
